
{{ template "messages_header.html" .}}   
      
<div class="pt-md-5 d-flex justify-content-center">
  <div class="d-flex justify-content-center align-items-center">
    <a href="/phone-numbers/{{ .number.Country }}/1">
      <img style="width: 64px;" src="https://www.countryflags.io/{{ .number.Country }}/flat/64.png">
    </a>
    <h1 class="display-4">{{ .number.RawNumber }}</h1>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="row">
    <p class="lead">Receive your SMS online with our virtual numbers for free!</p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div>
    <button id="refresh-button" type="button" class="btn btn-outline-primary btn-md" onclick="window.location.reload();">
      <!-- <span id="refresh-button-spinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> -->
      <span id="refresh-button-text" class="sr-only">Refresh Page</span>
    </button>
  </div>
  <div class="ms-3">
    <a href="/free-sms-messages/{{ .randomNumber.Provider }}/{{ .randomNumber.ProviderID }}" type="button" class="btn btn-outline-primary btn-md" onclick="window.location.reload();">
      Another Number
    </a>
  </div>
</div>

<div style="height: 20px;"></div>

<table class="table table-hover table-lg">
  <thead class="thead-dark">
    <tr class="table-light">
      <th scope="col"><span class="my-2">Sender</span></th>
      <th scope="col"><span class="my-2">Message</span></th>
    </tr>
  </thead>
  <tbody>
    {{ range .messages }}
    <tr>
      <td>
        <div><span class="badge bg-primary fw-light">{{ .From }}</span></div>
        <div><span class="badge bg-light text-dark fw-light">{{ .ReceivedAt | formatAsTimeAgo }}</span></div>
      </td>
      <td><p class="fw-light">{{ .Text }}</p></td>
    </tr>
    {{ end }}
  </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script type="text/javascript">
  $(function() {
    var ws;

    if (window.WebSocket === undefined) {
      console.warn("Your browser does not support WebSockets");
      return;
    } else {
      ws = initWS();
    }

    function initWS() {
      Cookies.remove('autotriggering');
      var host = window.location.host;
      var webSocketUrl = "wss://" + host + "/ws?id={{ .channelID }}&number={{ .providerNumber }}"
      if (host === "localhost:8080") {
        webSocketUrl = "ws://" + host + "/ws?id={{ .channelID }}&number={{ .providerNumber }}"
      }

      var socket = new WebSocket(webSocketUrl);
      // var container = $("#container");
      socket.onopen = function() {
        console.warn("Socket is open");
      };
      socket.onmessage = function (e) {
        var data = JSON.parse(e.data)
        if (data.refresh) {
          console.warn("Refresh command received.");
          Cookies.set('autotriggering', 'true')
          window.location.reload();
        }
      }
      socket.onclose = function () {
        console.warn("Socket closed");
      }

      return socket;
    }
  });
</script>

{{ template "footer.html" .}} 