
{{ template "header.html" .}}   
      
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{ .number.RawNumber }}</h1>
  <p class="lead">Receive your SMS online with our virtual numbers for free!</p>
</div>

<div class="d-flex justify-content-center">
  <div>
    <button id="refresh-button" type="button" class="btn btn-outline-primary btn-md" onclick="window.location.reload();">
      <!-- <span id="refresh-button-spinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> -->
      <span id="refresh-button-text" class="sr-only">Refresh Page</span>
    </button>
  </div>
  <div class="ms-3">
    <a href="/free-sms-messages/{{ .randomNumber.Provider }}/{{ .randomNumber.ProviderID }}" type="button" class="btn btn-outline-primary btn-md" onclick="window.location.reload();">
      Another Number
    </a>
  </div>
</div>

<div style="height: 20px;"></div>

<table class="table table-hover table-lg">
  <thead class="thead-dark">
    <tr class="table-light">
      <th scope="col"><span class="my-2">Sender</span></th>
      <th scope="col"><span class="my-2">Message</span></th>
    </tr>
  </thead>
  <tbody>
    {{ range .messages }}
    <tr>
      <td>
        <div><span class="badge bg-primary fw-light">{{ .From }}</span></div>
        <div><span class="badge bg-light text-dark fw-light">{{ .ReceivedAt | formatAsTimeAgo }}</span></div>
      </td>
      <td><p class="fw-light">{{ .Text }}</p></td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "footer.html" .}} 