
{{ if .hasCountry }}
{{ template "country_numbers_header.html" .}}
{{ else }}  
{{ template "header.html" .}}
{{ end }}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  {{ if .hasCountry }}
  <h1 class="display-4">All {{ .countryName }} Numbers</h1>
  <p class="lead">Receive your SMS online with our virtual numbers for free!</p>
  {{ else }}  
  <h1 class="display-4">All Phone Numbers</h1>
  <p class="lead">Receive your SMS online with our virtual numbers for free!</p>
  {{ end }}
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {{ range .numbers }}
    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <div class="d-flex flex-row align-items-center">
            <div>
              <a href="/phone-numbers/{{ .CountrySlug }}">
                <img style="width: 40px;" src="https://www.countryflags.io/{{ .Country }}/flat/64.png">
              </a>
            </div>
            <div class="ms-2">
              <a style="text-decoration: none;" href="/phone-numbers/{{ .CountrySlug }}">
                {{ .CountryName }}
              </a>
            </div>
          </div>
        </div>
        <div class="card-body my-2">
          <div class="d-flex justify-content-center align-items-center">
            <h3 class="card-title pricing-card-title">
              <small class="text-muted">+{{ .CountryCode }}</small>&nbsp;{{ .Number }}
            </h3>
            <a type="button"
              class="copy-btn btn-link ms-2"
              data-bs-toggle="popover" 
              data-bs-placement="right" 
              data-bs-content="Copied"
              data-clipboard-text="{{ .Number }}">Copy</a>
          </div>
          <a type="button" class="w-100 mt-2 btn btn-lg btn-outline-primary" href="{{ . | phumberNumberURL }}">Read Messages</a>
        </div>
      </div>
    </div>
  {{ end }}
</div>

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {{ if .hasPrevious }}
          <li class="page-item"><a class="page-link" href="{{ .previousURL }}">Previous</a></li>
        {{ else }}
          <li class="page-item disabled"><a class="page-link" href="{{ .previousURL }}">Previous</a></li>
        {{ end }}

        {{ range .pages }}
          {{ if .Active }}
            <li class="page-item active"><a class="page-link" href="{{ .URL }}">{{ .Text }}</a></li>
          {{ else }}
            <li class="page-item"><a class="page-link" href="{{ .URL }}">{{ .Text }}</a></li>
          {{ end }}                
        {{ end }}
      
        {{ if .hasNext }}
          <li class="page-item"><a class="page-link" href="{{ .nextURL }}">Next</a></li>
        {{ else }}
          <li class="page-item disabled"><a class="page-link" href="{{ .nextURL }}">Next</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>

{{ template "footer.html" .}} 